.wd-magni{
    position:relative;
    bottom:5px;
    left:5px;
}

.wd-gear{
    position:relative;
    left:20px;
    top:5px;
}

.wd-java{

    position:relative;
    left:12px;

}

.wd-nav{
    position:relative;
    left:20px;
}

.wd-nav-explore{
    position:relative;
    right:10px;
}

.wd-background{
    background-color: black;

}
.wd-light-text{
    color:lightgray!important;
}
.wd-nav-back{
    background-color: black !important;
}
.nav-text-active{
    color:lightgray !important;
}

.nav-text-color{
    color:gray !important;
}
.wd-dark-back{
    background-color: dimgrey !important;
}
.wd-bold{
    font-weight: bold;
}